extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Christina Koenig

        p.lead.text-light
          | Full Stack Developer.

        .portfolio-bio
          p
            | Software engineer who is passionate in team working & problem solving. Even though I've studied Education as my major, I've realized the power of IT and made my decision to learn how to code myself. I am currently looking for an opportunity as a software engineer.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li Bootstrap
          li JavaScript
          li Vue.js
          li React.js
          li Firebase
          li Node.js
          li Express.js
          li Python
          li SQL
          li Other cool stuff
  
        h6 Contact Info

        ul
          li 555-555-1234
          li email@email.com

        a.button.expanded(href='https://www.linkedin.com/in/christina-koenig-01528bb6/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/tina-pina' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  