extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Christina Koenig

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |I've realized the power of IT during studying Education and made my decision to educate how to code myself.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Bootstrap
          li JavaScript
          li Vue.js
          li React.js
          li Firebase
          li Node.js
          li Express.js
          li Python
          li SQL
          li Other cool stuff
  
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li email@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/christina-stephanie-koenig-01528bb6/') LinkedIn
        a.button.expanded(href='https://github.com/tina-pina') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  